div(ng-include='"components/navbar/navbar.html"')
.container

  .editor
    {{fileSelected}}

    .name

    .details

    .tags

  .drop
    form.dropzone(enctype="multipart/form-data", ng-data, ng-dropzone, dropzone="dropzone", dropzone-config="dropzoneConfig")
      input(name="file", type="file", multiple)
    form.dropzone(ng-data name="image-details")