.trash { color:rgb(209, 91, 71); }

@bgcolor: #999;
@bgcolor-ne: #666;
 
.transition (...) {
  -webkit-transition: @arguments;  
  -moz-transition:    @arguments;
  -ms-transition:     @arguments; 
  -o-transition:      @arguments;
  transition:         @arguments;
}
.rotate (@deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform:    rotate(@deg);
  -ms-transform:     rotate(@deg);
  -o-transform:      rotate(@deg);
}

.trans-bg {
  .transition(background-color 0.2s linear;);
}
.transparent {
  background: rgba(0,0,0,0);
}
.container {
  .editor, .drop {
    float: left;
  }
  .editor {
    width: 40%;
    min-height: 200px;
    padding: 10px 25px 10px 10px;
    margin: 10px;
  }
  div.drop.has-selected { width: 55%; }
  div.drop {
    width: 95%;
    padding: 20px;
    margin: 10px;
    border: solid thin @bgcolor;
    .transparent;
    .trans-bg();
    
    form.dropzone {
      min-height: 0;
      border: 0;
      padding: 0;
      .transparent;
      input[type="file"] { display: none; }
      .dz-preview.dz-image-preview { 
        background: rgba(0,0,0,0);
        .dz-progress { display: none; }
      }
      .dz-preview { margin: 6px; }
      .dz-preview.selected .dz-image {
        border: solid 5px #fff;
      }

      // Image rotation - http://www.daveperrett.com/images/articles/2012-07-28-exif-orientation-handling-is-a-ghetto/EXIF_Orientations.jpg
      .dz-image.image-orientation-8 img { .rotate(-90deg); }
      .dz-image.image-orientation-6 img { .rotate(90deg); }
      .dz-image.image-orientation-3 img { .rotate(180deg); }
    }
  }
  div.drop.over {  background-color: @bgcolor; }
  div.drop.notempty {  background-color: @bgcolor; }
  div.drop.over.notempty { background-color: @bgcolor-ne; }
}

#save-all {
  display: none;
}
#save-all.ready {
  display: block;
}

.inProgress .s3progress,
.complete .s3progress {
  z-index: 500;
}
.s3progress {
  width: 120px;
  height: 120px;
  margin: 0px;
  position: absolute;
  z-index: 0;
  .percentage {
    font-size: 22px;
    color: #fff;
    font-weight: 900;
    text-align: center;
    margin: 0px auto;
    position: absolute;
    bottom: 0px;
    left: 36px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  }
}