include ../includes/mixin.jade
div(ng-include='"components/navbar/navbar.html"')
.container

  .editor.form-horizontal(ng-show="fileSelected.length > 0")
    .selected
      label Selected Images
      .item(ng-repeat="id in fileSelected")
        span.id {{id}}
    
    .name
      +inputWrap("Image Title")
        input.form-control(type="text", placeholder="image title", ng-model="imageTitle", title="Image Title")
    .description
      +inputWrap("Description")
        textarea.form-control(placeholder="description", ng-model="imageDesc", title="Description", rows="3")
    .tags
      +inputWrap("Tags")
        tags-input(ng-model="tags", title="Tags", replace-spaces-with-dashes="false", on-tag-added="tagAdded($tag)", on-tag-removed="tagRemoved($tag)")

      {{tags}}
  
  .drop
    form.dropzone(enctype="multipart/form-data", ng-data, ng-dropzone, dropzone="dropzone", dropzone-config="dropzoneConfig")
      input(name="file", type="file", multiple)
    form.dropzone(ng-data name="image-details")