include ../includes/mixin.jade
div(ng-include='"components/navbar/navbar.html"')
.container

  .editor.form-horizontal(ng-show="fileSelected.length > 0")
    .name
      +inputWrap("Image Title")
        input.form-control(type="text", placeholder="image title", ng-model="imageTitle", title="Image Title" ng-model-options="ngo")
    .description
      +inputWrap("Description")
        textarea.form-control(placeholder="description", ng-model="imageDesc", title="Description", rows="3" ng-model-options="ngo")
    .tagz
      +inputWrap("Tags")
        tags-input(ng-model="tags", title="Tags", replace-spaces-with-dashes="false", on-tag-added="tagAdded($tag)", on-tag-removed="tagRemoved($tag)")
          auto-complete(source="findTags($query)")
    .actionz
      +inputWrap("Actions")
        button(ng-click="removeSelected()" class="btn btn-danger btn-block" type="button" name="delete") Remove Selected
  

  
  .drop
    form.dropzone(enctype="multipart/form-data", ng-data, ng-dropzone, dropzone="dropzone", dropzone-config="dropzoneConfig")
      input(name="file", type="file", multiple)
    form.dropzone(ng-data name="image-details")

.container.debug.clearfix
  div {{files | json}}
.container.debug.clearfix
  div {{allTags | json}} 