div(ng-include='"components/navbar/navbar.html"')

.container
  .deckgrid(deckgrid, source='images')
    div.image(ng-class='{{card.tags}}')
      img.img-responsive(src='{{card.derivative[0].uri}}')
      div.pre-scrollable {{card}}

footer.footer
  .container
    p
      | homemademess.com
      = ' | '
      a(href='https://github.com/markisatacomputer/homemademess') github
     